{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 text-center">
	<h2>Welcome,{{username}}</h2>
	<p>Explore the features of the diabetes prediction app.</p>
	<div class="mt-4">
		<!--Logout Button -->
		<form action="/logout" method="post" style="display: inline;">
			<button type="submit">Logout</button>
		</form>

		<!-- Start Prediction Button -->
		<form action="/upload" method="get" style="display: inline;">
			<button type="submit">Start diabetes Prediction</button>
		</form>
	</div>
</div>
{% endblock %}
