{% extends 'base.html' %}
{% block content %}
<div>
	<h1>Registration</h1>
	<p>Please fill in your details to create an account</p>
	<form method="post" action="/register">
		<label>Username:</label><br>
		<input name="username" type="text" placeholder="Enter username here...." required><br><br>

		<label>Password:</label><br>
		<input name="password" type="password" placeholder="Enter password here...." required><br><br>

		<label>Email:</label><br>
		<input name="email" type="email" placeholder="Enter email here...." required><br><br>

		<input type="submit" value="Register">


	</form>		
</div>



{% endblock %}